body {
    background: lightcoral;
    margin: 0px;
}

#mainGrid {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
}


#bee1 {
    grid-column: 2;
    grid-row: 2;
    border: solid black;
    background: lightgrey;
}

#title {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#bee2 {
    grid-column: 4;
    grid-row: 2;
    border: solid black;
    background: lightgrey;
}

#button1 {
    grid-column: 2;
    grid-row: 3;
    margin: 40px;
    background: lightgrey;
    border: solid darkgray;
}
#bee3 {
    grid-column: 3;
    grid-row: 3;
    border: solid black;
    background: lightgrey;
}
#button2 {
    grid-column: 3;
    grid-row: 2;
    margin: 20px;
    background: lightgrey;
    border: solid darkgrey;
}

#button3 {
    grid-column: 4;
    grid-row: 3;
    margin: 40px;
    background: lightgrey;
    border: solid darkgrey;
}

#result1 {
	grid-column: 2;
	grid-row: 4;
	border: solid black;
	margin: 10px;
	background: lightgray;
}
#result2 {
	grid-column: 3;
	grid-row: 4;
	border: solid black;
	margin: 10px;
	background: lightgray;
}
#result3 {
	grid-column: 4;
	grid-row: 4;
	border: solid black;
	margin: 10px;
	background: lightgray;
}
.beeText {
	text-align: center;
	margin-top: 5px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}