html {
  background-color: #a33ddf;
}
body {
  margin: 10px;
  background-color:#ffffff ;
}
#registerHolder{
  display:flex;
  justify-content: space-between;
  width:100%;
}


.Register div {
  text-align:center;
}
.Register{
  margin: 0 15px;
  display:inline-block;
}

svg.segment {
  width:10%;

}
svg.LED {
  height:50px;
  margin: 0 3px;
}
.LEDholder{
  padding:3px;
  border: 1px solid #b1b1b1;
  display:inline-flex;
  flex-flow: row wrap;
  align-self: flex-end;
}

.displayHolder{
  margin: 15px;
  border:1px solid #b1b1b1;
  display:inline-flex;
}

#binaryinput{
  background-color: #ffffff;
  border: 1px solid #b1b1b1;
  height:30px;
  margin-left: 0;
  margin-right:-5;
}
#binarybutton{
  background-color: #00d100;
  border:1px solid #b1b1b1;
  border-left: 0px;
  color:white;
  height:30px;
  padding:4
}

.st0{
  fill:#B3B3B3;
  stroke:#808080;
  stroke-width:3;
  stroke-miterlimit:10;
}
.st1 {
  stroke-width: 3;
  stroke-miterlimit: 10;
}
