html {
  background-color: #a33ddf;
}
body {
  margin: 10px;
  background-color:#ffffff ;
}
#registerHolder{
  display:flex;
  justify-content: space-between;
  width:100%;
}
#Calculate {
  background-color: #d10000;
  border:1px solid #b1b1b1;
  color:white;
  height:30px;
  padding:4;
  margin-left: 15px;
}
.Register div {
  text-align:center;
}
.Register{
  margin: 0 15px;
  display:inline-block;
}
svg.segment {
  width:10%;

}
svg.LED {
  height:30px;
  margin: 0 3px;
}
.LEDholder{
  padding:3px;
  border: 1px solid #b1b1b1;
  display:inline-flex;
  flex-flow: row wrap;
  align-self: flex-end;
}
.displayHolder{
  margin: 15px;
  display:inline-flex;
  justify-content: flex-start;
}
#binaryinput{
  background-color: #ffffff;
  border: 1px solid #b1b1b1;
  height:30px;
  margin-left: 0;
  margin-right:-5;
}
#binarybutton{
  background-color: #00d100;
  border:1px solid #b1b1b1;
  border-left: 0px;
  color:white;
  height:30px;
  padding:4
}
.st0{
  fill:#B3B3B3;
  stroke:#808080;
  stroke-width:3;
  stroke-miterlimit:10;
}
.st1 {
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.container {
  display: block;
  position: relative;
  padding:14px;
  padding-left: 15px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  border:1px solid #b1b1b1;
  margin-left: 3px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000d1;
  font-size: 15px;
  text-align:center;
  color:white;
}
.container input:checked ~ .checkmark {
  background-color: #d10000;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: block;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 11px;
  top: 13px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#clockHolder{
  position:fixed;
  bottom:0;
  left:0;
  margin:10px;
}
#clock{
  background-color: #FFFFFF;
  border: 1px solid #b1b1b1;
  border-bottom: none;
  border-left: none;
  height:50px;
  display: flex;
}

.hrtztext{
  font-family:'MyriadPro-Regular';
  font-size:72px;
}
