body {
    background-color: #4fa7e7;
    margin: 0px;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-space {
    justify-content: space-between;
}
.link {
    width: 10.5%;
    height: 0;
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: #ffffff;
    white-space: nowrap;
    font: 400 1.1vw Arial;
    margin: 1%;
    padding: 0px;
}

.link:hover {
    background-color: #d3d3d3;
}

#linkholder {
    width: 60%;
    height: auto;
    min-height: 40vh;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 1%;
    background-color: lightgray;
}

#headerbox {
    height: 25%;
    display: flex;
    justify-content: space-between;
}

#header {
    align-self: flex-start;
    border: 1px solid #000000;
    border-style: none solid solid none;
    border-radius: 0px 0px 6px 0px;
    display: inline-block;
    background-color: lightgrey;
}

#headertext {
    padding: 12px;
    font: 400 13.3333px Arial;
}

#date {
    border: 1px solid #000000;
    border-style: none none solid solid;
    border-radius: 0px 0px 0px 6px;
    background-color: lightgray;
}

#datetext {
    padding: 12px;
    font: 400 13.3333px Arial;
    text-wrap: nowrap;
}


